* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #daedff;
  font-family: "Tourney", sans-serif;
}

html {
  font-size: 62.5%;
}
body {
  /* background-color: #124779; */
  background-image: url("../images/image-1.jpg");
  height: 100vh;
  overflow-y: hidden;
}

/* fonts */
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.8rem;
}

a {
  font-size: 2rem;
}
p {
  font-size: 1.8rem;
}
ion-icon {
  font-size: 3rem;
}

/* more font styles */
a:link,
a:after,
a:visited {
  text-decoration: none;
  text-transform: uppercase;
}

/* header */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;

  transform: translateY(-50px);
  transition: 1s;
}
.social-media a:first-child {
  margin-right: 1rem;
}
.social-media a {
  font-size: inherit;
}

@keyframes colorchange {
  0% {
    color: #daedff;
  }

  50% {
    color: lightgreen;
  }
  99% {
    color: #daedff;
  }
}

.logo {
  animation-name: colorchange;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* navigation */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

  transition: all 4s;
}

nav a:nth-child(2),
nav a:nth-child(4) {
  transform: translate(-1000px, 50px);
  transition: all 1s;
}
nav a:nth-child(6),
nav a:last-child {
  transform: translate(1000px, 50px);
  transition: all 1s;
}

nav p {
  opacity: 0;
  transition: all 6s;
}
/* responsive */
nav ion-icon {
  position: absolute;
  top: 1rem;
  left: 1rem;

  font-size: 4rem;
}
.slide-in,
.slide-out {
  display: none;
}

/* main */
main {
  background-color: transparent;
  margin: 15rem 0;
}
main section:first-child {
  padding: 10rem;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.9);

  transform: translateX(-100%);
  transition: all ease-out 1s;
}

main section p,
main section h2 {
  text-transform: uppercase;
  line-height: 2;

  transition: all 0.75s;
}
main section:first-child:hover p,
main section:first-child:hover h2,
main section:hover ion-icon {
  color: lightgreen !important;
}

/*  */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

main section:hover p ion-icon {
  animation-name: rotate;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: all 0.75s;
}

/* query */
@media (max-width: 750px) {
  main section:first-child {
    padding: 5rem;
  }
}
@media (max-width: 550px) {
  main section:first-child {
    padding: 5rem;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0rem 2rem;

    display: flex;
    flex-direction: column;

    background-color: black;
    z-index: 100;
    opacity: 0;
    transform: translateX(-300px);

    transition: opacity 1s, transform 1s;
  }
  .slide-in,
  .slide-out {
    display: inline-block;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  main section:first-child {
    padding: 1rem;
  }
}
@media (max-width: 410px) {
  main section p {
    font-size: 1.4rem;
  }
}
